body {
    background: black;
    color: white;
  }
  
  .grid {
    width: 200px;
    height: 200px;
    border: 1px solid #FF0000;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  
  }
  
  .grid div {
    width: 20px;
    height: 20px;
    
  }
  
  .snake {
    background: 	#008000;
  }
  
  .apple {
    background: 	#FF0000;
    border-radius: 20px;
  }
  
  .popup {
    background: rgb(128, 0, 128);
    width: 40%;
    height: 60%;
    position: fixed;
    top: 100px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 30%;
  }
  #A{
    height: 30px;
    position: absolute;
    top: 80%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -80%);
  }
  #B{
    height: 30px;
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -80%);
  }
  #C{
    height: 30px;
    position: absolute;
    top: 85%;
    left: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -80%);
  }
  #D{
    height: 30px;
    position: absolute;
    top: 85%;
    left: 55%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -80%);
  }
  .scoreDisplay{
    text-align: center;
    color: #8F29C2;
    
  }
  .playAgain{
    background-color: red;
width:50% ;
height: 50%;
  }
  .playAgain:hover{
    background-color:    #008000;
    color: #fff;
    box-shadow: 0 0 20px   #008000 ,
                0 0 50px    #008000;
  }
  h1{
    text-align: center;
  }
  h5{
    text-align: center;
  }